/*
Authors :   Aapo Salo 
Contents:
1.  Game Site Styles
Main Colors :   #6EC000 GREEN
            :   #e1e1e1 White
            :   #C4CB11 Hero YELLOW
            :   #818181 Sub-heading text Light Brown
            :   #f7f7f7 Game intro BACKGROUND WHITE
*/



h3 {
    background-color: #C4CB11;
}

.slider {
    background-image: url(../images/education-background.png);
}

#quiz {
    display: block;
    width: 40vw;
    text-align: center;
    background-color: yellowgreen;
    margin-left: 30vw;
    padding-top: 100px;
    padding-left: 15px;
    padding-bottom: 100px;
}