
/*

Authors :   Joona Karhu

Contents:

1.  Game Site Styles

Main Colors :   #6EC000 GREEN
            :   #e1e1e1 White
            :   #C4CB11 Hero YELLOW
            :   #818181 Sub-heading text Light Brown
            :   #f7f7f7 Game intro BACKGROUND WHITE

*/

*,html,body
{
    margin: 0;
    padding: 0;
}

body
{
    overflow-x: hidden;
}



/* width */
::-webkit-scrollbar {
width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px #6EC000;
border-radius: 10px;
}
    
/* Handle */
::-webkit-scrollbar-thumb {
background: #C4CB11;; 
border-radius: 10px;
}
    
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #5da203 
}

    

header
{
    height: 90px;
    line-height: 90px;
    position: fixed;
    z-index: 2;
    width: 100%;
}


ul
{
    list-style: none;
}

ul li
{
    display: inline-block;
}

header nav
{
    float: right;
    
}

header {
    background-color: #6EC000;
}

/****************************  Logo Styles and Animation  ********************************************/
.logo img
{   
    max-width: 75px;
}

.logo-text
{   
    max-width: 275px;
}
.logo img:hover
{ 
    animation: pulse 1s infinite;
    animation-timing-function: linear;   
}

@keyframes pulse 
{
0% { transform: scale(1); }
50% { transform: scale(1.1);}
100% { transform: scale(1); }
}

header nav ul li a
{
    padding-right: 30px;
    font-weight: bold;
    color: #e1e1e1;
    transition: all 0.5s ease-in;
}

header nav ul li a:hover,header nav ul li a:focus
{
    text-decoration: none;
    color: yellow;
}


.hamburger 
{
    display: none;
}

.slider{
    background-image: url(../images/education-background.png);
}

.quiz {
    display: block;
    width: 40vw;
    margin-left: 30vw;
    padding-top: 100px;
    padding-left: 15px;
    background-color: yellow;
}
p {
    font-weight: bold;
    text-decoration: underline;
}


label {
    display: inline-block;
    width: 75px;
    padding-right: 5px;
}

.check {
    margin-bottom: 15px;
}

footer
{
    background-color: #6EC000;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    padding: 25px 0;
    
}
