/*
Authors :   Aapo Salo 
Contents:
1.  Game Site Styles
Main Colors :   #6EC000 GREEN
            :   #e1e1e1 White
            :   #C4CB11 Hero YELLOW
            :   #818181 Sub-heading text Light Brown
            :   #f7f7f7 Game intro BACKGROUND WHITE
*/



h3 {
    color: brown;
}

.slider {
    background-image: url(../images/education-background.png);
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
    
    
}

#quiz {
    display: block;
    width: 40vw;
    text-align: center;
    background-color: #00c060ea ;
    margin-left: 30vw;
    padding-top: 100px;
    padding-left: 15px;
    padding-bottom: 100px;
    background-image: url(https://cdn.pixabay.com/photo/2018/01/14/22/59/cartoon-3082809_960_720.png), url(https://cdn.pixabay.com/photo/2016/02/05/15/12/three-1181081_960_720.png),
    url(https://cdn.pixabay.com/photo/2016/02/05/15/12/three-1181081_960_720.png), url(https://cdn.pixabay.com/photo/2016/02/05/15/12/three-1181081_960_720.png), 
    url(https://cdn.pixabay.com/photo/2016/02/05/15/12/three-1181081_960_720.png);
    background-position: top, left top, left bottom, right top, right bottom;
    background-repeat: no-repeat;
    background-size: 11vw, 6vw, 6vw, 6vw, 6vw;
    font-size: 20px;
    background-position-y: 0.3cm, 0.3cm, 0.3cm, 0.3cm, 0.3cm;
    background-position-x: 53mm, 0.3cm, 120mm, 0.3cm, 120mm;
    
    border-radius: 10mm;
    
    
    
    
}

button {
    font-family: sans-serif;
	font-size: 50px;
	background-color: red;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
    color: blue;
    
}

button:hover{
	background-color: green;
}

.slider {
    background-image: url(https://cdn.pixabay.com/photo/2020/12/03/09/47/pencil-5800079_960_720.jpg);
    background-size: 75vw;
    }

    .hamburger {
        display: none;
   }
        /****************************  Responsive styles ********************************************/

   @media screen and (max-width: 1010px){

    header{
        background-color: #6EC000;
        min-height: 27.4%;
        padding-top: 84px;
    }
  

    .menu {
        position: fixed;
        left: -100%;
        top: 12rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .menu.active {
        left: 0;
    }

    .menu-link{
        color: black;
    }

    .menu-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        padding-right: 15px;
        padding-top: 30px;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}


  
   


