/*

Authors :   Aleksi Kallio 

Contents:

1.  Game Site Styles

Main Colors :   #6EC000 GREEN
            :   #e1e1e1 White
            :   #C4CB11 Hero YELLOW
            :   #818181 Sub-heading text Light Brown
            :   #f7f7f7 Game intro BACKGROUND WHITE

*/

/* General styles */

*, *::before, *::after {
    box-sizing: border-box;
}  

:root {
--hue-neutral: 200;
--hue-wrong: 0;
--hue-correct: 145;
}

/* Image */

.questions-body {
display: flex;
width: 100vw;
height: 100vh;
justify-content: center;
align-items: center;
background-image: url("../images/chalkboard.png");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
}

/* Questions */
.question-font {
    font-size: 25px;
}

.container-quiz {
width: 800px;
max-width: 80%;
background-color: white;
border-radius: 5px;
padding: 10px;
box-shadow: 0 0 10px 2px;
}

/* Buttons */
.btn-grid {
display: grid;
grid-template-columns: repeat(2, auto);
gap: 10px;
margin: 20px 0;
}

.btn {
--hue: var(--hue-neutral);
border: 1px solid hsl(var(--hue), 100%, 30%);
background-color: hsl(var(--hue), 100%, 50%);
border-radius: 5px;
padding: 5px 10px;
color: white;
outline: none;
}

.btn:hover {
border-color: black;
}

.btn.correct {
--hue: var(--hue-correct);
}

.btn.wrong {
--hue: var(--hue-wrong);
}

.start-btn, .next-btn {
font-size: 1.5rem;
font-weight: bold;
padding: 10px 20px;
}

#start-btn {
    margin-bottom: 15px;
}

/* Start and next Buttons */

.controls {
display: flex;
justify-content: center;
align-items: center;
}

/* Hide class for hiding elements */
.hide {
display: none;
}

/* Correct and wrong answers */

#correct-answers {
    font-size: 19px;
}

#wrong-answers {
    font-size: 19px;
}

#icon-right img {
    max-width: 20px;
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
    
}

#icon-wrong img {
    max-width: 20px;
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(-25deg) brightness(118%) contrast(719%);
    
}

/* Footer */

footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   
} 


@media screen and (max-width: 1010px){

    /* Responsive styles */

    header{
        background-color: #6EC000;
        min-height: 27.4%;
        padding-top: 84px;
    }

    /* Change bg image when using smaller screen */
    
    .questions-body {
        color: black;
        padding: 0;
        margin: 0;
        display: flex;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        background-color: hsl(var(--hue), 100%, 20%);
        background-image: url("../images/chalkboard_mobile.png");
        z-index: 1001;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }
  
    /* Responsive menu */
    .menu {
        position: fixed;
        left: -100%;
        top: 12rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .menu.active {
        left: 0;
    }

    .menu-link{
        color: black;
    }

    .menu-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        padding-right: 15px;
        padding-top: 30px;
        cursor: pointer;
    }

    /* Rotate the three bars to form a X */

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media screen and (max-width: 700px){
    .btn-grid {
        display: grid;
        grid-template-columns: repeat(1, auto);
        gap: 10px;
        margin: 20px 0;
    }
        
}
