*,html,body
{
    margin: 0;
    padding: 0;
}

body
{
    overflow-x: hidden;
}
/*Menu*/
header
{
    height: 112px;
    line-height: 112px;
    position: fixed;
    z-index: 2;
    width: 100%;
}

.secondary
{
    background-color: #162252;
    box-shadow: 0px 0px 17px 0px;
    transition: all 0.5s ease-in;
}

ul
{
    list-style: none;
}

ul li
{
    display: inline-block;
}

header nav
{
    float: right;
    
}

header {
    background-color: #6EC000;
}

.logo img
{   
    width: 100px;
}


.logo img:hover{ 
    animation: pulse 1s infinite;
    animation-timing-function: linear;   
  }
  
  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1);}
    100% { transform: scale(1); }
    }

header nav ul li a
{
    padding-right: 30px;
    font-weight: bold;
    color: black;
    transition: all 0.5s ease-in;
}

header nav ul li a:hover,header nav ul li a:focus
{
    text-decoration: none;
    color: yellow;
}
/*Menu*/


/*Slider*/
.img1
{
    background-image: url(../images/education-background.jpg);
    background-size: cover;
}


.slider,.slider ul,.slider ul li
{
    height: 750px;
    width: 100%;
    color: white;
    text-align: center;
}

.slider h2
{
    font-weight: bold;
    margin-top: 300px;
}

.slider span
{
    color: #C4CB11;
}

.slider a
{
    padding: 10px 50px;
    margin-right: 10px;
}

.img1 a:nth-child(odd){
    background-color: #6EC000;
    color: white;
    transition: 0.5s ease-in;
}

.img1 a:nth-child(even){
    background-color: #C4CB11;
    color: white;
    transition: 0.5s ease-in;
}



.slider a.btn-half:hover
{
    opacity: 0.7;
}

.slider a.btn-full:hover
{
    opacity: 0.7;
}
/*Slider*/

footer
{
    background-color: #6EC000;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    padding: 25px 0;
    
}

.social-icon a{
    margin: 0 16px 20px 16px;
    display: inline-block;
    
    
}

.social-icon .fab
{
    font-size: 50px;
    color: darkred;
    width: 80px;
    height: 70px;
    border-radius: white;
    line-height: 1.2;
    border-radius: 30%;
    transition: 0.3s;
    border: 5px solid red;
    text-align: center;
}

.social-icon a:hover .fab
{
    border: 5px solid white;
}