<<<<<<< HEAD
/*

Authors :   Aleksi Kallio
        :   Joona Karhu
        :   Aapo Salo
        :   Sami Nousiainen
        :   Toni Leinonen    

Contents:

1.  Global Styles & Typography
2.  Nav And Header
3.  Hero Section
4.  Game Introduction
5.  Formal Instruction Styles
6.  Footer Styles

Main Colors :   #6EC000 GREEN
            :   #e1e1e1 White
            :   #C4CB11 Hero YELLOW
            :   #818181 Sub-heading text Light Brown
            :   #f7f7f7 Game intro BACKGROUND WHITE


*/

/*****************************************************************************************/
/*----------------------- 1.  Global Styles  --------------------------------------------*/
/*****************************************************************************************/

*,html,body
{
    margin: 0;
    padding: 0;
}

body
{
    overflow-x: hidden;
}


/****************************  Wanted to test styling browser scrollbar  ********************************************/

/* width */
::-webkit-scrollbar {
width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px #6EC000;
border-radius: 10px;
}
    
/* Handle */
::-webkit-scrollbar-thumb {
background: #C4CB11;; 
border-radius: 10px;
}
    
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #5da203 
}

    
/*************************************************************************************************/
/*----------------------- 2.  Nav AND Header Styles  --------------------------------------------*/
/*************************************************************************************************/

header
{
    height: 90px;
    line-height: 90px;
    position: fixed;
    z-index: 2;
    width: 100%;
}

/****************************  Used for nav button animation  ********************************************/
/* .secondary 
{
    background-color: #162252;
    box-shadow: 0px 0px 17px 0px;
    transition: all 0.5s ease-in;
} */

ul
{
    list-style: none;
}

ul li
{
    display: inline-block;
}

header nav
{
    float: right;
    
}

header {
    background-color: #6EC000;
}

/****************************  Logo Styles and Animation  ********************************************/
.logo img
{   
    max-width: 75px;
}

.logo-text
{   
    max-width: 275px;
}
.logo img:hover
{ 
    animation: pulse 1s infinite;
    animation-timing-function: linear;   
}

@keyframes pulse 
{
0% { transform: scale(1); }
50% { transform: scale(1.1);}
100% { transform: scale(1); }
}

header nav ul li a
{
    padding-right: 30px;
    font-weight: bold;
    color: #e1e1e1;
    transition: all 0.5s ease-in;
}

header nav ul li a:hover,header nav ul li a:focus
{
    text-decoration: none;
    color: yellow;
}


.hamburger 
{
    display: none;
}

.bar 
{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;

    background-image: url("../images/education-background.png");
    background-size: cover;
}


/***********************************************************************************************/
/*----------------------- 3.  Hero Section Styles  --------------------------------------------*/
/***********************************************************************************************/

.links
{
    background-image: url("../images/education-background.png");
    background-size: cover;
}

/****************************  Hero "taitosi" section of the text. DELETE IF STARTS TO LOOK BAD  ********************************************/
.links,#skills{
    color: #6EC000;
}

.hero,.hero ul,.hero ul li
{
    height: 750px;
    width: 100%;
    color: #e1e1e1;
    text-align: center;
}

.hero h2
{
    font-weight: bold;
    margin-top: 300px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style:oblique;
    font-size: 6em;
    padding-bottom: 50px;
}

.hero p
{
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style:oblique;
    font-size: 2em;
    padding-bottom: 50px;
}

.hero span
{
    color: #C4CB11;
}

.hero a
{
    padding: 10px 50px;
    margin-right: 10px;
}

.links a:nth-child(odd){
    background-color: #6EC000;
    color: #e1e1e1;
    transition: 0.5s ease-in;
}

.links a:nth-child(even){
    background-color: #C4CB11;
    color: #e1e1e1;
    transition: 0.5s ease-in;
}

.hero a.btn-half:hover
{
    opacity: 0.7;
}

.hero a.btn-full:hover
{
    opacity: 0.7;
}


/****************************************************************************************************/
/*----------------------- 4.  Game Introduction Styles  --------------------------------------------*/
/****************************************************************************************************/

.game-intro-area
{
    position: relative;
    padding: 100px 8px;
    text-align: center;
}

.sub-heading
{
    position: relative;
    margin-bottom: 75px;
    
}

.sub-heading:before
{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -3%;
    width: 6%;
    height: 1px;
    background-color: #6EC000;
    z-index: 1;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

.sub-heading:hover:before
{
    width: 24%;
    margin-left: -12%;
}

.sub-heading:after
{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -12%;
    width: 24%;
    height: 1px;
    background-color: #e1e1e1;
}

.sub-heading p
{
    color: #818181;
    display: inline-block;
    padding: 0px 0px 20px;
    position: relative;
    line-height: 24px;
    letter-spacing: 0.025em;
}

.game-intro-block
{
    position: relative;
    background-color: #f7f7f7;
    margin: 50px 0px 0px;
    text-align: center;
    padding: 70px 25px 40px;
    border-radius: 50%;
    cursor: pointer;
}

.game-intro-block:hover,.game-intro-block.active
{
    background: #C4CB11;
    color: #e1e1e1;
}

.game-intro-block:hover
{
    transition: 0.6s ease;
    -webkit-transition: 0.6s ease;
    -moz-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    -ms-transition: 0.6s ease;
    
}

.game-intro-block .intro-icon
{
    position: absolute;
    top: -31px;
    left: 50%;
    margin-left: -31px;
}

.game-intro-block .fas
{
    width: 63px;
    height: 63px;
    font-size: 30px;
    color: #e1e1e1;
    line-height: 2;
    background: #f7f7f7;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 10px #f7f7f7;
}

.game-intro-block:hover .fas, .game-intro-block.active .fas
{
    background: #e1e1e1;
    color: #6EC000;
    box-shadow: 0px 0px 0px 10px #C4CB11;
}

.game-intro-block h3
{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
    
}

.game-intro-block p
{
    color: #505050;
}

.game-intro-block:hover h3, .game-intro-block:hover p
{
    color: #f6f6f6;
}

/****************************************************************************************************/
/*----------------------- 5. Formal Instruction Styles  --------------------------------------------*/
/****************************************************************************************************/

.playing-instruction{
    padding-top: 5px;
    margin-left: 35%;
    padding-left: 7px;
    padding-bottom: 30px;
}

ol {
    max-width: 350px;
    counter-reset: counter;
    list-style: none;
    padding-left: 40px;
}

ol li {
    margin: 0 0 0.5rem 0;
    counter-increment: counter;
    position: relative;
    padding-bottom: 10px;
    line-height: 30px;
}

ol li::before {
    content: counter(counter);
    color: #fcd000;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    --size: 32px;
    left: calc(-1 * var(--size) - 10px);
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
    top: 0;
    transform: rotate(-10deg);
    background: black;
    border-radius: 50%;
    text-align: center;
    box-shadow: 1px 1px 0 #999;
}


/*****************************************************************************************/
/*----------------------- 6.  Footer Styles  --------------------------------------------*/
/*****************************************************************************************/

footer
{
    background-color: #6EC000;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    padding: 25px 0;
    
}
=======
/*

Authors :   Aleksi Kallio
        :   Joona Karhu
        :   Aapo Salo
        :   Sami Nousiainen
        :   Toni Leinonen    

Contents:

1.  Global Styles & Typography
2.  Nav And Header
3.  Hero Section
4.  Game Introduction
5.  Formal Instruction Styles
6.  Footer Styles

Main Colors :   #6EC000 GREEN
            :   #e1e1e1 White
            :   #C4CB11 Hero YELLOW
            :   #818181 Sub-heading text Light Brown
            :   #f7f7f7 Game intro BACKGROUND WHITE


*/

/*****************************************************************************************/
/*----------------------- 1.  Global Styles  --------------------------------------------*/
/*****************************************************************************************/

*,html,body
{
    margin: 0;
    padding: 0;
}

body
{
    overflow-x: hidden;
}


/****************************  Wanted to test styling browser scrollbar  ********************************************/

/* width */
::-webkit-scrollbar {
width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px #6EC000;
border-radius: 10px;
}
    
/* Handle */
::-webkit-scrollbar-thumb {
background: #C4CB11;; 
border-radius: 10px;
}
    
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #5da203 
}

    
/*************************************************************************************************/
/*----------------------- 2.  Nav AND Header Styles  --------------------------------------------*/
/*************************************************************************************************/

header
{
    height: 90px;
    line-height: 90px;
    position: fixed;
    z-index: 2;
    width: 100%;
}

/****************************  Used for nav button animation  ********************************************/
/* .secondary 
{
    background-color: #162252;
    box-shadow: 0px 0px 17px 0px;
    transition: all 0.5s ease-in;
} */

ul
{
    list-style: none;
}

ul li
{
    display: inline-block;
}

header nav
{
    float: right;
    
}

header {
    background-color: #6EC000;
}

/****************************  Logo Styles and Animation  ********************************************/
.logo img
{   
    max-width: 75px;
}

.logo-text
{   
    max-width: 275px;
}
.logo img:hover
{ 
    animation: pulse 1s infinite;
    animation-timing-function: linear;   
}

@keyframes pulse 
{
0% { transform: scale(1); }
50% { transform: scale(1.1);}
100% { transform: scale(1); }
}

header nav ul li a
{
    padding-right: 30px;
    font-weight: bold;
    color: #e1e1e1;
    transition: all 0.5s ease-in;
}

header nav ul li a:hover,header nav ul li a:focus
{
    text-decoration: none;
    color: yellow;
}


.hamburger 
{
    display: none;
}

.bar 
{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;

    background-image: url("../images/education-background.png");
    background-size: cover;
}


/***********************************************************************************************/
/*----------------------- 3.  Hero Section Styles  --------------------------------------------*/
/***********************************************************************************************/

.links
{
    background-image: url("../images/education-background.png");
    background-size: cover;
}

/****************************  Hero "taitosi" section of the text. DELETE IF STARTS TO LOOK BAD  ********************************************/
.links,#skills{
    color: #6EC000;
}

.hero,.hero ul,.hero ul li
{
    height: 750px;
    width: 100%;
    color: #e1e1e1;
    text-align: center;
}

.hero h2
{
    font-weight: bold;
    margin-top: 300px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style:oblique;
    font-size: 6em;
    padding-bottom: 50px;
}

.hero p
{
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style:oblique;
    font-size: 2em;
    padding-bottom: 50px;
}

.hero span
{
    color: #C4CB11;
}

.hero a
{
    padding: 10px 50px;
    margin-right: 10px;
}

.links a:nth-child(odd){
    background-color: #6EC000;
    color: #e1e1e1;
    transition: 0.5s ease-in;
}

.links a:nth-child(even){
    background-color: #C4CB11;
    color: #e1e1e1;
    transition: 0.5s ease-in;
}

.hero a.btn-half:hover
{
    opacity: 0.7;
}

.hero a.btn-full:hover
{
    opacity: 0.7;
}


/****************************************************************************************************/
/*----------------------- 4.  Game Introduction Styles  --------------------------------------------*/
/****************************************************************************************************/

.game-intro-area
{
    position: relative;
    padding: 100px 8px;
    text-align: center;
}

.sub-heading
{
    position: relative;
    margin-bottom: 75px;
    
}

.sub-heading:before
{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -3%;
    width: 6%;
    height: 1px;
    background-color: #6EC000;
    z-index: 1;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

.sub-heading:hover:before
{
    width: 24%;
    margin-left: -12%;
}

.sub-heading:after
{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -12%;
    width: 24%;
    height: 1px;
    background-color: #e1e1e1;
}

.sub-heading p
{
    color: #818181;
    display: inline-block;
    padding: 0px 0px 20px;
    position: relative;
    line-height: 24px;
    letter-spacing: 0.025em;
}

.game-intro-block
{
    position: relative;
    background-color: #f7f7f7;
    margin: 50px 0px 0px;
    text-align: center;
    padding: 70px 25px 40px;
    border-radius: 50%;
    cursor: pointer;
}

.game-intro-block:hover,.game-intro-block.active
{
    background: #C4CB11;
    color: #e1e1e1;
}

.game-intro-block:hover
{
    transition: 0.6s ease;
    -webkit-transition: 0.6s ease;
    -moz-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    -ms-transition: 0.6s ease;
    
}

.game-intro-block .intro-icon
{
    position: absolute;
    top: -31px;
    left: 50%;
    margin-left: -31px;
}

.game-intro-block .fas
{
    width: 63px;
    height: 63px;
    font-size: 30px;
    color: #e1e1e1;
    line-height: 2;
    background: #f7f7f7;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 10px #f7f7f7;
}

.game-intro-block:hover .fas, .game-intro-block.active .fas
{
    background: #e1e1e1;
    color: #6EC000;
    box-shadow: 0px 0px 0px 10px #C4CB11;
}

.game-intro-block h3
{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
    
}

.game-intro-block p
{
    color: #505050;
}

.game-intro-block:hover h3, .game-intro-block:hover p
{
    color: #f6f6f6;
}

/****************************************************************************************************/
/*----------------------- 5. Formal Instruction Styles  --------------------------------------------*/
/****************************************************************************************************/

.playing-instruction{
    padding-top: 5px;
    margin-left: 35%;
    padding-left: 7px;
    padding-bottom: 30px;
}

ol {
    max-width: 350px;
    counter-reset: counter;
    list-style: none;
    padding-left: 40px;
}

ol li {
    margin: 0 0 0.5rem 0;
    counter-increment: counter;
    position: relative;
    padding-bottom: 10px;
    line-height: 30px;
}

ol li::before {
    content: counter(counter);
    color: #fcd000;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    --size: 32px;
    left: calc(-1 * var(--size) - 10px);
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
    top: 0;
    transform: rotate(-10deg);
    background: black;
    border-radius: 50%;
    text-align: center;
    box-shadow: 1px 1px 0 #999;
}


/*****************************************************************************************/
/*----------------------- 6.  Footer Styles  --------------------------------------------*/
/*****************************************************************************************/

footer
{
    background-color: #6EC000;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    padding: 25px 0;
    
}
>>>>>>> main
