/*
Authors :   Toni Leinonen
Contents:
1.  Game Site Styles
Main Colors :   #6EC000 GREEN
            :   #e1e1e1 White
            :   #C4CB11 Hero YELLOW
            :   #818181 Sub-heading text Light Brown
            :   #f7f7f7 Game intro BACKGROUND WHITE
*/

#quiz{
    background-color: tomato;
    width: 40vw;
    border: 2px #6EC000 solid;
    text-align: center;
    margin-left: 30vw;
}

#quiz img {
    width: 25vw;
}

.slider{
    background-image: url(../images/education-background.png);
    
}

#quiz h2{
    font-weight: bold;
}