/*
Authors :   Toni Leinonen
Contents:
1.  Game Site Styles
Main Colors :   #6EC000 GREEN
            :   #e1e1e1 White
            :   #C4CB11 Hero YELLOW
            :   #818181 Sub-heading text Light Brown
            :   #f7f7f7 Game intro BACKGROUND WHITE
*/
*,html,body {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}


/****************************  Wanted to test styling browser scrollbar  ********************************************/

/* width */
::-webkit-scrollbar {
width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px #6EC000;
border-radius: 10px;
}
    
/* Handle */
::-webkit-scrollbar-thumb {
background: #C4CB11;; 
border-radius: 10px;
}
    
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #5da203 
}

    
/*************************************************************************************************/
/*----------------------- 2.  Nav AND Header Styles  --------------------------------------------*/
/*************************************************************************************************/

header
{
    height: 90px;
    line-height: 90px;
    position: fixed;
    z-index: 2;
    width: 100%;
}

/****************************  Used for nav button animation  ********************************************/
/* .secondary 
{
    background-color: #162252;
    box-shadow: 0px 0px 17px 0px;
    transition: all 0.5s ease-in;
} */

ul
{
    list-style: none;
}

ul li
{
    display: inline-block;
}

header nav
{
    float: right;
    
}

header {
    background-color: #6EC000;
}

/****************************  Logo Styles and Animation  ********************************************/
.logo img
{   
    max-width: 75px;
}

.logo-text
{   
    max-width: 275px;
}
.logo img:hover
{ 
    animation: pulse 1s infinite;
    animation-timing-function: linear;   
}

@keyframes pulse 
{
0% { transform: scale(1); }
50% { transform: scale(1.1);}
100% { transform: scale(1); }
}

header nav ul li a
{
    padding-right: 30px;
    font-weight: bold;
    color: #e1e1e1;
    transition: all 0.5s ease-in;
}

header nav ul li a:hover,header nav ul li a:focus
{
    text-decoration: none;
    color: yellow;
}


.hamburger 
{
    display: none;
}

#quiz{
    background-color: rgba(196, 203, 17, 0.65);
    width: 50vw;
    border: 2px #6EC000 solid;
    text-align: center;
    margin-left: 25vw;
    background-image: url(../images/tonin-peli-kuvat/hippo.png);
    background-repeat: no-repeat;
    background-position:right bottom;
    background-size: 10vw;
}


#quiz img {
    width: 25vw;
}

.slider{
    background-image: url(../images/tonin-peli-kuvat/space-background.png);
    background-size: cover;
    padding-top: 14vh;
    padding-bottom: 10px;
    
}

#quiz h2{
    font-weight: bold;
}

label {
    margin: 4px;
}
#total {
    margin: 10px;
    font-weight: bolder;
}

[id*="questionCheck" i] {
    font-weight: bold;
}

[id*="Question"] {
    border-bottom: 1px black solid;
}
/* label:hover {
    font-weight: bold;
} */

#fifthQuestion{
    border-bottom: none;
}

button {
    background-color:#C4CB11;
    color: black;
    border: 2px solid #6EC000;
    border-radius: 10px;
    padding: 5px 15px;
    margin-bottom: 10px;
}
footer
{
    background-color: #6EC000;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    padding: 25px 0;
    
}